/* variable */
@media (min-width:992px) {
    .iconn {
        font-size: 30px;
        margin-left: 20px;
        animation-delay: 3s;
    }
}

@media (max-width: 991px) {
    .iconn {
        display:none !important;
    }
}

/* general */

body {
    background: #fff;
    color: #b4b4b4;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Heebo', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 120%;
    margin: 0;
    font-family: 'Heebo', sans-serif;
    font-weight: 500;
    color: #020312;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 18px;
}

a {
    color: #020312;
}

a:hover {
    text-decoration: none;
    transition: .5s ease-out;
}

ul {
    padding: 0;
    margin: 0;
}

p {
    line-height: 170%;
}

p:last-child {
    margin-bottom: 0;
}

.row {
    margin-bottom: 30px;
}

.row:last-child {
    margin-bottom: 0;
}

.section-bottom-only {
    margin-bottom: 35px;
}

.section-title {
    margin-bottom: 30px;
}

.section-title h5 {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 15px;
    display: flex;
}

.section-title h3 {
    font-size: 32px;
    font-weight: 800;
}

.section-title .line-title {
    align-self: center;
    width: 50px;
    height: 2px;
    background: #34d349;
    margin-right: 10px;
}

.box-content {
    background: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 5px 38px -6px rgba(0, 0, 0, 0.14);
}

.pattern img {
    position: fixed;
    left: -100px;
    top: -160px;
    z-index: -1000;
}

.object img {
    position: fixed;
    right: -200px;
    bottom: 0;
    z-index: -1000;
}

.pattern-inner img {
    position: absolute;
    left: -80px;
    bottom: -80px;
}


/* button */

.button {
    background: #34d349;
    padding: 12px 30px;
    font-weight: 500;
    font-size: 15px;
    border-radius: 5px;
    color: #fff;
    margin-top: 22px;
    border: 2px solid transparent;
    transition: .5s ease-out;
    display: inline-block;
}

.button:hover {
    color: #fff;
    background:#34d349;

}


/*  #fdb0a7 navbar */

.navbar {
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar.navbar-fixed {
    background: #fff;
    transition: .5s ease-out;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0);
}

.navbar .navbar-toggler {
    border-radius: 0;
    border: 0;
}

.navbar .navbar-toggler i {
    font-size: 28px;
}

.navbar .navbar-brand {
    text-align: center;
    display: flex;
}

.navbar .navbar-brand img {
    width: 100px;
    height: 100%;
    margin-right: 15px;
}

.navbar .navbar-brand h2 {
    font-size: 25px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 2px;
    align-self: center;
}

.navbar .navbar-nav .nav-link {
    padding-left: 15px;
    padding-right: 15px;
    font-weight: 500;
}

.navbar .navbar-nav .current a {
    transition: all .3s;
    position: relative;
    color: #34d349;
}

.navbar .navbar-nav .current a::before {
    content: '';
    width: 7px;
    height: 7px;
    background: #34d349;
    display: inline-block;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -2px;
}


/* home intro */

.home-intro {
    background: url(../images/bg-home3.jpg) no-repeat 50% 100%;
    margin-top: 90px;
    padding: 60px 40px;
}

.home-intro img {
    filter: brightness(50%);
}

.home-intro .home-caption {
    text-align: center;
}

.home-intro .home-caption h5 {
    text-transform: uppercase;
    font-size: 18px;
    color: #f1f1f1;
    margin-bottom: 10px;
    letter-spacing: 4px;
}

.home-intro .home-caption h2 {
    font-size: 45px;
    font-weight: 900;
    margin-bottom: 15px;
    color: #f0f1f5;
}

.home-intro .home-caption .button {
    background: none;
    border: solid 2px white;
    filter: brightness(90%);
    color: white;
}

.home-intro .home-caption .button:hover {
    background: white;
    color: rgb(17, 180, 85);
}

.home-intro .content-image img {
    width: 100%;
}


/* about us */

.about .content-left {
    text-align: center;
}

.about .content-left img {
    width: calc(100% - 30%);
    border-radius: 10px;
}

.about .content {
    background: #f4f7fc;
    padding: 15px;
    border-radius: 0px;
    text-align: center;
}

.about .content h4 {
    color: #34d349;
    font-weight: 800;
    margin-bottom: 5px;
    font-size: 26px;
}

.about .content span {
    font-size: 14px;
}


/* features */

.title-name img {
    width: 100%;
    max-width: 200px;
    margin-bottom: 10px;
    border-radius: 100%;
    -webkit-box-shadow:0 4px 4px rgba(0, 0, 0, 0.3);
   -moz-box-shadow:0 4px 4px rgba(0, 0, 0, 0.3);
   box-shadow:0 1px 4px rgba(0, 0, 0, 0.4);

    
    margin-top: 15px;
}

.features {
    position: relative;
    overflow: hidden;
}

.features .content i {
    color: #34840C;
    display: inline-block;
    border-radius: 50%;
    width: 65px;
    height: 65px;
    line-height: 70px;
    font-size: 38px;
    text-align: center;
    margin-bottom: 20px;
}

.features .content h5 {
    margin-bottom: 10px;
}


/* portfolio */

.portfolio .swiper-slide {
    width: 260px;
    
}

.portfolio .swiper-slide img {
    
    width: 100%;
    height: 200%;
    border-radius: 10px;
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear;
}

.portfolio .swiper-slide:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.portfolio .swiper-slide:hover .image-overlay {
    opacity: 1;
}

.portfolio .swiper-slide:hover .portfolio-caption {
    opacity: 1;
}

.portfolio .swiper-slide:hover .portfolio-caption h4 {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
}

.portfolio .swiper-slide:hover .portfolio-caption span {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
}

.portfolio .img {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.portfolio .image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
    opacity: 0;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    z-index: 9;
    border-radius: 10px;
}

.portfolio .portfolio-caption {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
    right: 0;
    text-align: center;
    opacity: 0;
    z-index: 99;
}

.portfolio .portfolio-caption h4 {
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 3px;
    -webkit-transition-delay: .15s;
    transition-delay: .15s;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
    opacity: 0;
}

.portfolio .portfolio-caption span {
    color: #fff;
    display: inline-block;
    -webkit-transition-delay: .25s;
    transition-delay: .25s;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
    font-size: 14px;
    opacity: 0;
}
.portfolio .caption-product {
    font-size: 15px;
}


/* testimonial */

.testimonial .content-right {
    position: relative;
}

.testimonial .content-right .testi-icon .icon-left {
    position: absolute;
    top: -10px;
    left: 0;
    width: 100px;
}

.testimonial .content-right .testi-icon .icon-right {
    position: absolute;
    right: 0;
    bottom: -23px;
    width: 100px;
}

.testimonial .content .title-name {
    margin-bottom: 15px;
}

.testimonial .content .title-name h5 {
    margin-bottom: 5px;
}

.testimonial .content .title-name span {
    font-size: 15px;
    color: #34d349;
}

.testimonial .swiper-container-horizontal>.swiper-pagination-bullets {
    bottom: 0;
    text-align: right;
}

.testimonial .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    background: #fec2ba;
    transition: all .3s ease;
    opacity: 1;
}

.testimonial .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: #34d349;;
    width: 16px;
    border-radius: 8px;
}


/* contact us */

.contact .content-form .button {
    margin-top: 0;
}


/* form */

.footer-bottom {
    text-align: center;
}


/* form */

form .form-group {
    margin-bottom: 0;
}

form label {
    color: #333;
}

form input {
    border: 1px solid #f5f5f5;
    background: #f5f5f5;
    padding: 12px 15px;
    width: 100%;
    color: #020312;
    border-radius: 5px;
    transition: all .2s ease;
}

form input:focus {
    border-color: #34d349;;
}

form textarea {
    border: 1px solid #f5f5f5;
    background: #f5f5f5;
    padding: 12px 15px;
    width: 100%;
    color: #020312;
    border-radius: 5px;
    transition: all .2s ease;
}

form textarea:focus {
    border-color: #34d349;
}


/* responsive */

@media (max-width:980px) {
    .box-content {
        padding: 30px;
    }
    .section-title h3 {
        font-size: 28px;
    }
    .home-intro .home-caption h2 {
        font-size: 40px;
    }
    .home-intro .home-caption p {
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

@media (max-width:767px) {
    .navbar .navbar-nav {
        background: #fff;
        box-shadow: 0 12px 30px -15px rgba(0, 0, 0, 0.2);
        border-radius: 0 0 10px 10px;
        border-top: 0;
        outline: none;
        padding: 14px 10px;
    }
    .navbar .current a::before {
        content: '';
        display: none !important;
    }
    .about .content-left {
        margin-bottom: 40px;
    }
}

@media (max-width:480px) {
    .features .content {
        margin-bottom: 30px;
        text-align: center;
    }
    .features .col-xs-12:last-child .content {
        margin-bottom: 0;
    }
}

@media (max-width:360px) {
    .home-intro .home-caption h2 {
        font-size: 34px;
    }
}


/* zzzzzzzzzzzzzzzzzzz */
.chat {

  position: fixed;
  bottom: 0;
  right: 15px;
  margin: 3px;
  z-index: 9;
}